

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgba(11, 80, 158, 0.28), transparent);
}

.divider {
    position: relative;
    margin-top: 30px;
    height: 1px;
}

.list-unstyled li i {
    color: olivedrab;
    font-size: 1.3em;
    font-weight: 800;
    padding-left: 9px;
    margin-top: 6px;
}

.list-unstyled li {
    display: flex;
}

p {
    color: #505050;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-bottom: 20px;
}

span {
    letter-spacing: 1px;
}

.container-full {
    padding-left: 0;
    padding-right: 0;
}
.carousel-caption a{
    display:inline-flex;
}
.btn_slider {
    border: 1px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-size: 14.5px;
    font-weight: 400;
  letter-spacing:1.5px;
    text-transform: uppercase;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.modal-footer{
    border-top:unset !important;
}
.btn-default:hover {
    color: #fff;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.hero_banner_new .show_mob{
    position:absolute;
    left:50px;
    bottom:50px;
}
/*.fa {
    font-size: 13px;
}*/
/* Back to top button */
@media (max-width: 768px) {
    .hero_banner_new .show_mob {
        position: absolute;
        left: 60px !important;
        bottom: 240px !important;
    }
    #mobile-nav-toggle {
        position: fixed;
        right: 5px !important;
        top: 12px !important;
    }
    .scrollto img {
        width: 50px !important;
        height: 40px !important;
    }
    .back-to-top {
        bottom: 15px;
    }
}

.back-to-top:focus {
    background: #71c55d;
    color: #fff;
    outline: none;
}

.back-to-top:hover {
    background: #55b03f;
    color: #fff;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.scrollto img {
    width: 70px;
    height: 50px;
}


/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

.new_p {
    /* color: #505050; */
    color: black;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 2;
    margin-top: 20px;
}
.padd-section {
    padding-bottom: 80px;
    padding-top: 80px;
}
.padd-section-form {
    
    padding: 50px 80px;
}
.padd-section_counter {
    padding-bottom: 190px;
    padding-top: 150px;
}
.padd-section2 {
    padding-bottom: 20px;
    padding-top: 80px;
    position:relative;
}
.padd-section-video {
    padding-bottom: 80px;
    padding-top: 40px;
    position:relative;
}
.padd-section3 {
    padding-bottom: 40px;
    padding-top: 40px;
}

.padd-section6 {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padd-section {
    padding-bottom: 80px;
    padding-top: 80px;
}

.padd-section4 {
    padding-bottom: 0px;
    padding-top: 80px;
}
.padd-section4_opp {
    padding-bottom: 80px;
    padding-top: 0px;
}
.new_h2 {
    color: black;
    font-weight: 700;
    font-family: 'Varela Round', sans-serif;
}

@media (max-width: 992px) {
    .padd-section {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

.section-title {
    margin-bottom: 20px;
}

.section-title2 {
    margin-bottom: 20px;
}

.section-title3 {
    margin-bottom: 30px;
}

@media (max-width: 992px) {
    .section-title {
        margin-bottom: 40px;
    }
}

.green_title{
    font-family: 'Varela Round', sans-serif !important;
    /* font-family: "Roboto", sans-serif; */
    font-size: 35px !important;
    font-weight: 600 !important;
    letter-spacing: 2px !important;
    margin-bottom: 20px;
    text-transform: capitalize;
    color:olivedrab !important;
}
.section-title .separator {
    margin: 0;
}

.separator {
    color: #626262;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
    text-transform: capitalize;
}


/* Get Started Section
--------------------------------*/

@media (max-width: 991px) {
    #get-started .feature-block {
        margin-bottom: 30px;
    }
}

#get-started .feature-block:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
}

#get-started .feature-block h4 {
    margin-top: 10px;
}


#get-started .feature-block a {
    /*color: orangered;*/
    font-size: 12px;
    /*font-weight: 600;*/
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.3s;
}
#get-started .feature-block :hover{
    cursor:pointer;
}
#get-started .feature-block :hover a {
    color: #0094ff;
}


/* About Us Section
--------------------------------*/

#about-us img {
    max-width: 100%;
}

#about-us .about-content {
    padding-top: 60px;
}

    #about-us .about-content h2 {
        color: #013671 !important;
        font-family: "roboto";
        font-size: 39px;
        font-weight: 100;
        letter-spacing: 2px;
        margin-bottom: 20px;
        text-transform: capitalize;
    }

#about-us .about-content span {
    font-weight: 700;
    padding-right: 10px;
    text-transform: uppercase;
    color: #55b03f;
}

#about-us .about-content ul li {
    line-height: 36px;
}

#about-us .about-content ul li .fa {
    padding-right: 20px;
}


/* Features Section
--------------------------------*/

#features {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#features .feature-block {
    background: #fff none repeat scroll 0 0;
    padding: 30px 20px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out 0s;
}

#features .feature-block:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
}

#features .feature-block h4 {
    margin-bottom: 20px;
}

#features .feature-block p {
    margin-bottom: 0;
}


/* Screenshots Section
--------------------------------*/

.owl-dot.active>span {
    height: 10px !important;
    width: 10px !important;
}

.owl-theme .owl-dots .owl-dot span {
    height: 10px !important;
    width: 10px !important;
}

.owl-item img {
    cursor: pointer;
}

.owl-stage-outer {
    margin-bottom: 30px;
}

.owl-theme .owl-nav {
    display: none;
    margin-top: 10px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #71c55d;
}

.owl-theme .owl-dots .owl-dot span {
    background: #ddd;
}


/* Video Section
--------------------------------*/

#video {
    background: url(../img/video-bg.html) center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    overflow: hidden;
}

#video .overlay {
    background: rgba(0, 0, 0, 0.85);
    height: 100%;
}

#video .overlay .play-btn {
    width: 94px;
    height: 94px;
    background: radial-gradient(#71c55d 50%, rgba(113, 197, 93, 0.15) 52%);
    border-radius: 50%;
    display: block;
    margin: 153px auto 0;
    position: relative;
    overflow: hidden;
}

#video .overlay .play-btn::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 100;
    transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#video .overlay .play-btn:before {
    content: '';
    position: absolute;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation: pulsate1 2s;
    animation: pulsate1 2s;
    -webkit-animation-direction: forwards;
    animation-direction: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: steps;
    animation-timing-function: steps;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    top: -15%;
    left: -15%;
    background: rgba(198, 16, 0, 0);
}

#video .overlay .play-btn:hover::after {
    border-left: 15px solid #71c55d;
    -webkit-transform: scale(20);
    transform: scale(20);
}

#video .overlay .play-btn:hover::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-40%) translateY(-50%);
    transform: translateX(-40%) translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #fff;
    z-index: 200;
    -webkit-animation: none;
    animation: none;
    border-radius: 0;
}

@-webkit-keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@keyframes pulsate1 {
    0% {
        -webkit-transform: scale(0.6, 0.6);
        transform: scale(0.6, 0.6);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}

@-webkit-keyframes pulsate2 {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        transform: scale(0.1, 0.1);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1, 1);
        transform: scale(1, 1);
        opacity: 0;
    }
}


/* Team Section
--------------------------------*/

#team .team-block {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    height: 254px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

@media (max-width: 991px) {
    #team .team-block {
        margin-bottom: 30px;
    }
}

#team .team-block img {
    width: 100%;
}

#team .team-block .team-content {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
    bottom: -147px;
    padding: 20px 0;
    position: absolute;
    width: 100%;
    transition: all 0.5s ease-in-out 0s;
}

#team .team-block .team-content ul {
    display: block;
    width: 100%;
}

#team .team-block .team-content ul li {
    display: inline-block;
}

#team .team-block .team-content ul li a {
    color: #626262;
}

#team .team-block .team-content ul li a .fa {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}

#team .team-block .team-content ul li a .fa:hover {
    color: #71c55d;
}

#team .team-block .team-content ul>span {
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

#team .team-block:hover .team-content {
    bottom: 0px;
    transition: all 0.5s ease-in-out 0s;
}


/* Testimonials Section
--------------------------------*/

#testimonials .testimonials-content {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    padding: 49px 20px;
}

#testimonials .testimonials-content::before {
    color: #71c55d;
    content: "";
    display: inline-block;
    font: 70px/1 FontAwesome;
    position: absolute;
    right: 43px;
    text-align: left;
    top: -29px;
}

#testimonials .top-top>h2 {
    font-family: "Roboto" sans-serif;
    font-size: 45px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

#testimonials .top-top>h4 {
    font: 700 12px Lato, sans-serif;
}

#testimonials .top-top span {
    font-size: 12px;
    font-weight: 300;
    margin-left: 26px;
}

#testimonials .btm-btm ul li {
    float: left;
    margin-left: 13px;
    border-radius:4px !important;
    margin-right: 13px;
    background: #ddd none repeat scroll 0 0;
    border-radius: 50%;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: block;
    height: 1px !important;
    width:8px !important;
}

#testimonials .btm-btm .active {
    background: #71c55d;
}


.carousel-indicators li {
    margin: 0;
}


/* Pricing Table Section
--------------------------------*/

#pricing .block-pricing {
    background: #fff;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    position: relative;
    width: 100%;
}

@media (max-width: 991px) {
    #pricing .block-pricing {
        margin-bottom: 30px;
    }
}

#pricing .block-pricing .table {
    margin-bottom: 0;
    padding: 30px 15px;
    max-width: 100%;
    width: 100%;
}

#pricing .block-pricing .table h4 {
    padding-bottom: 30px;
}

#pricing .block-pricing h2 {
    margin-bottom: 30px;
}

#pricing .block-pricing ul {
    list-style: outside none none;
    margin: 10px auto;
    max-width: 240px;
    padding: 0;
}

#pricing .block-pricing ul li {
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    padding: 12px 0;
    text-align: center;
}

#pricing .block-pricing ul li b {
    color: #3c4857;
}

#pricing .block-pricing .table .table_btn a {
    background: #71c55d;
    color: #fff;
    margin: 0;
    display: inline-block;
}

#pricing .block-pricing .table .table_btn a:hover {
    background: #55b03f;
}

#pricing .block-pricing .table .table_btn a .fa {
    font-size: 13px;
    margin-right: 5px;
}


/* Blog Section
--------------------------------*/

@media (max-width: 991px) {
    #blog .block-blog {
        margin-bottom: 30px;
    }
}

#blog .block-blog img {
    width: 100%;
}

#blog .block-blog .content-blog {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 4px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    min-height: 125px;
    padding: 20px 10px;
    width: 100%;
}

#blog .block-blog .content-blog h4 {
    /* color: #000; */
    color: black;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    line-height: 2;
}

#blog .block-blog .content-blog h5 a {
    color: orangered;
    text-decoration: none;
    transition: 0.3s;
}

#blog .block-blog .content-blog a {
    color: orangered;
    text-decoration: none;
    transition: 0.3s;
}

#blog .block-blog .content-blog h5 {
    /* line-height: 23px; */
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 0.5px;
    font-size: 13px;
    color: #505050;
    font-weight: 400;
    line-height: 2;
}

#blog .block-blog .content-blog h4 a:hover {
    color: #71c55d;
}

#blog .block-blog .content-blog>span {
    float: left;
    font-size: 12px;
}

#blog .block-blog .content-blog a.readmore {
    color: #505050;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 0;
    text-transform: capitalize;
}

#blog .block-blog .content-blog a.readmore:hover {
    color: #71c55d;
}


/* Newsletter Section
--------------------------------*/

/*#newsletter {
    background: transparent url(../img/newsletter-bg.jpg) no-repeat center top fixed;
    background-size: cover;
}*/

#newsletter .overlay {
    background: linear-gradient(rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.2) 95%);
    height: 100%;
    width: 100%;
}

#newsletter .form-control {
    background-color: transparent;
    border: 1px solid #dddddd;
    border-radius: 0;
    color: #888;
    font-size: 11px;
    font-weight: 600;
    height: 50px;
    text-align: center;
    width: 70%;
    background: #fff;
}

@media (max-width: 575px) {
    #newsletter .form-control {
        margin-bottom: 30px;
        width: 100%;
    }
}

#newsletter .form-control:focus {
    border-color: #71c55d;
    box-shadow: none;
    outline: 0 none;
}

#newsletter .btn {
    background: #71c55d;
    border: 0;
    border-radius: 0;
    height: 50px;
    width: 30%;
    transition: 0.3s;
}

@media (max-width: 575px) {
    #newsletter .btn {
        width: 100%;
    }
}

#newsletter .btn:hover {
    background: #55b03f;
}

#newsletter .btn .fa {
    padding-right: 10px;
}

#newsletter ul {
    display: inline-block;
    margin-top: 40px;
    margin-bottom: 0;
}

#newsletter ul li {
    background: #71c55d;
    border-radius: 50px;
    float: left;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    width: 35px;
    transition: 0.3s;
}

#newsletter ul li:hover {
    background: #55b03f;
}

#newsletter ul li .fa {
    color: #fff;
}


/* Contact Section
--------------------------------*/

#contact {
    background: #fff;
}

#contact .info {
    color: #222;
}

#contact .info i {
    font-size: 32px;
    color: #71c55d;
    float: left;
}

#contact .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
}

#contact .info .email p {
    padding-top: 5px;
}

#contact .social-links {
    padding-bottom: 20px;
}

#contact .social-links a {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 18px;
    display: inline-block;
    background: #71c55d;
    color: #fff;
    line-height: 1;
    padding: 6px 0 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#contact .social-links a:hover {
    background: #55b03f;
    color: #fff;
}

#contact .form #sendmessage {
    color: #71c55d;
    border: 1px solid #71c55d;
    display: none;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #errormessage {
    color: red;
    display: none;
    border: 1px solid red;
    text-align: center;
    padding: 15px;
    font-weight: 600;
    margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
    display: block;
}

#contact .form .validation {
    color: red;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#contact .form input,
#contact .form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    padding: 12px 10px;
    line-height: 1;
}

#contact .form button[type="submit"] {
    background: #71c55d;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
    background: #92d283;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-logo {
    display: flex;
    /* align-items: center; */
}

.footer {
    background: #2a2c30;
    padding-top: 50px;
}

.footer .footer-logo .navbar-brand {
    color: #fff;
    display: inline-block;
    float: none;
    font-family: "Philosopher", sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.2em;
    padding-left: 0;
    padding-top: 0;
}

.footer .footer-logo p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
}

.footer .list-menu>h4 {
    color: #fff;
    padding-bottom: 20px;
}

.footer .list-menu ul li a {
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    text-decoration: none;
    letter-spacing: 0;
}

.footer .copyrights {
    background: #fff;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
}

.footer .copyrights p,
.footer .copyrights .credits {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
}

.footer .copyrights p a,
.footer .copyrights .credits a {
    letter-spacing: 0;
    color: #71c55d;
}


/* 
######################## COPPY CSS
*/

.img_size {
    max-height: 280px;
    min-height: 280px;
    width: 100%;
}

.gallery-thumb {
    max-height: 270px;
    min-height: 270px;
    width: 100%;
}

.gallery-item {
    max-height: 400px;
    min-height: 350px;
    width: 100%;
    padding: 10px;
    /* background-color: #d2e5e7; */
    background-color: #fff;
    border: 1px solid #d2e5e7;
}

.box-content {
    border: 1px solid #e9e9e9;
    position: relative;
    overflow: hidden;
    background: #d2e5e7;
}

.box-content:after {
    background: #5cb7cc;
    width: 342px;
    height: 412px;
    content: '';
    position: absolute;
    left: -24px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}